.venv/
# Python
__pycache__/
*.pyc
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Raw data (DO NOT COMMIT)
data/raw/*
!data/raw/.gitkeep

# Allow generated figures (DO COMMIT)
!results/
!results/figures/
!results/figures/*.png

